.main-div{
	position: relative; 
	width: 40%;
	height: 65em;
	border: 1px solid black;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
	
	


}
.intro{
	background-image: url(forest.jpg);
	height: 30em;
	width: 95.5%;
	background-repeat: no-repeat;
	padding: 16px;
	top: 0;
	left: 0;
	position: absolute;

	
}
.final{
	background-color: bisque;
	height: 50em;
	width: 100%;
	border-radius:15px ;
	position: absolute;
	top: 37%;
	left: 0;
	z-index: 1;
	
	   
}
.final div{
margin-top: 320px;
background: grey;
height: 15vh;
width: 95%;
border-radius: 20px;
}

.profiles{
	display: flex;
	flex-direction: row;
	gap: 12px;
	 position: absolute;
    top: 6%;
	left: 0;
	height: 23vh;

} 
.prfiles div{
	height: 50vh;
    border-radius: 20px;
    width: 45%;



}