
.car{
	display: flex;
}

P{
	font-style: italic;
background-color: black;
}
 h1{
 	text-align: center;
 }
 p.paint{
 	color: white;
 	background-color: black;
 	text-align: left;
 	font-style:normal;
 }

 p{
 	background-image: url(forest.jpg);
 	height: 40vh;
 	background-repeat: no-repeat;
 	background-size: 1000px;
 	border-style:solid;
 	padding: 7px;
 }

 h4{
 	border-left: 6px solid blue;
 	background-color: lightgrey;
 	background-image: url(forest.jpg);
 	color: white;
 	font-style: italic;
 	padding: 7px;
 }
 .edit{
 	border-left: 6px solid red;
 	background-image: url(forest.jpg);
 	color: white;
 	font-style: italic;
 	padding: 7px;
 	border-style: solid ;

 }	
 							